@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niramit:wght@200&display=swap");

.html{
    margin: 0px;
    }
.body{
    margin: 0px;
}
.welcomeMenuMobile{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.containerFeedTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerFeedTemplate{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 2%;
    font-size: 25px;
}
.wallMenu{
        /* Esto no es necesario despues*/
        display: none;
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
        width: 20%;
        height: 680px;
        font-size: small;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
}
.wallMenuCategories{
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10%;
    text-decoration: none;
}
    .categoriesMenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 2%;
        font-family: "Niramit", sans-serif;
        font-size: x-large;
    }
    .searchProjectsInput{
        width: 80%;
        font-size: 50%;
        padding: 8px;
        margin-right: 2%;
    }
    .containerWallFeedTemplate{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
    }
    .textPostInput{
        width: 100%;
        padding: 2%;
        margin: 2%;
        font-size: 70%;
        height: 30%;
    
    }
    .inputSubmitPost{
        margin-left: 30%;
    }
    .postContainer{
        display: flex;
        border-radius: 5px;
        padding: 2%;
        margin: 2%;
        background: white;
        box-shadow: 0px 1px 8px 0px #697473;
    
    }
    .postInputContainer{
        width: 75%;
    }
    .postAreaContainer{
        width: 100%;
        background-image: url(img/backgroundDoItMobile.png);
        background-size: 100%;
  background-repeat: no-repeat;
    }
    .profilePic{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profilePicture{
    padding: 1%;
    margin: 1%;
    border-radius: 250px;
    height: 75px;
    width: 75px;
    }
    .profileName{
       font-size: small;
    font-family: "Niramit", sans-serif;
    }
    .uploadYourPicOrVid{
        margin: 0px;
    }
    .btn-post{
        margin: 2%;
        height: 40%;
        background-color: #8FBFF8;
        border-radius: 5px;
    }
    .formPost{ 
        margin-left: 2%;
        width: 100%;
    }
    .uploadPicAndPostButtonContainer{
        display: flex;
        margin: 2%;
    }
    .postGrid{
        display: flex;
        flex-direction: column;
    }
    .suggestionsAndFriendsContainer{
        display:none;
        height: auto;
        width: 20%;
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 1%;
    }
    .newPost{
        padding: 5%;
        margin: 2%;
        display: flex;
        flex-direction: column;
    font-family: "Niramit", sans-serif;
    box-shadow: 0px 1px 8px 0px #697473;
    background: white;
    border-radius: 5px;
    }
.containerEdit{
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 30%;;
}
.formPostEdit{ 
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}
.textPostInputEdit{
    padding: 2% 7%;
    margin: 2%;
    font-size: 120%;
}

    .postLikesEditAndDeleteBtn{
        display: flex;
        align-items: center;
    }
    .likesNumber{
        margin: 2%;
    }
    .btn-primary{
        margin: 5%;

    }
@media screen and (min-width: 1024px){
.html{
    margin: 0px;
    }
.body{
    margin: 0px;
}
.containerFeedTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerFeedTemplate{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    /* Esto no es necesario despues*/
    border-color: black;
    border: solid;
    padding: 2%;
    font-size: 25px;
}
.wallMenu{
        /* Esto no es necesario despues*/
        display: flex;
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
        width: 20%;
        height: 680px;
        font-size: small;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
}
.wallMenuCategories{
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10%;
    text-decoration: none;
}
    .categoriesMenu{
        width: 20%;
        height: 100%;
        margin-left: 2%;
    }
    .searchProjectsInput{
        width: 80%;
        font-size: 18px;
        padding: 8px;
        margin-right: 2%;
    }
    .containerWallFeedTemplate{
        display: flex;
        flex-direction: row;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
    }
    .textPostInput{
        width: 100%;
        padding: 2%;
        margin: 2%;
    
    }
    .inputSubmitPost{
        margin-left: 30%;
    }
    .postContainer{
        display: flex;
        height: 20%;
        width: auto;
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 2%;
    
    }
    .postInputContainer{
        width: 75%;
    }
    .postAreaContainer{
        width: 60%;
    }
    .profilePic{
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
    }
    .profilePicture{
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
        border-radius: 250px;
    }
    .uploadYourPicOrVid{
        margin: 0px;
    }
    .formPost{ 
        margin-left: 2%;
        width: 100%;
    }
    .uploadPicAndPostButtonContainer{
        display: flex;
        margin: 2%;
    }
    .postGrid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto ;
        height: 90%;
        width: auto;
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 2%;
    }
    .suggestionsAndFriendsContainer{
        height: auto;
        width: 20%;
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 1%;
    }
    .newPost{
        padding: 1%;
        margin: 2%;
    }
.postLikesEditAndDeleteBtn{
    display: flex;
}
 }
