@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niramit:wght@200&display=swap"); */

.profilePicture{
    display: none;
} 
.root{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.html{
    margin: 0px;
    }
.body{
    margin: 0px;
}
.wallMenuMobile{
    background-color: white;
    top: 5%;
    left: 1%;
    width: 50%;
    height: 85%;
    position: absolute;
    padding: 3%;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgba(245, 194, 95, 1);
    border-radius: 15px;
    transition: all 1s;
    opacity:1;
    overflow: hidden;
}
.wallMenuMobileModal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 5s;
}
#login:target{
    opacity:1;
    pointer-events:auto;
}
a.wallMenuCategories {
    font-size: large;
    text-decoration: none;
    color: black;
    flex-direction: row;
    padding: 10% 10%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}
.wallMenuCategoriesMobile{
    font-family: "Niramit", sans-serif;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: black;
    flex-direction: row;
    padding: 15% 15%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}
.wallMenuCategoriesMobileClose{
    font-family: "Niramit", sans-serif;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: black;
    flex-direction: row;
    padding: 15% 15%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    top: 85%;
    left: 0%;
}
.returnMenuMobile{
    width: 10%;
    position: fixed;
    float: right;
    left: 40%;
}
.sidebarMobile{
    display: flex;
    flex-direction: column;
}
.containerFeedTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerFeedTemplate{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    width: 90%;
    margin: 1.8%;
    padding: 0% 1%;
    font-size: 25px;
    align-content: center;
    align-items: center;
}
.categoriesDesktopFeed{
    display: none;
}

.categoriesDesktopFeed{
    display: none;
}
.wallMenu{
    display: none;
}
    .categoriesMenu{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 2%;
       
    }
    .searchInputBar{
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-evenly;
        background-color: #8FBFF8;
        padding: 0.9%;
        border-radius: 5px;
        box-shadow: 0px 1px 3px 0px #697473;
    }
    .searchProjectsInput{
        width: 60%;
        font-size: 35%;
        padding: 8px;
        margin-right: 2%;
    }
    .containerWallFeedTemplate{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-items: flex-start;
        width: 55%;
    }
    .textPostInput{
        width: 90%;
        padding: 2%;
        margin: 2%;
        font-size: 70%;
        height: 30%;
    
    }
    .inputSubmitPost{
        margin-left: 30%;
    }
    .postContainer{
        display: flex;
        display: flex;
        border-radius: 5px;
        padding: 2%;
        padding-top: 4%;
        padding-bottom: 4%;
        margin: 2%;
        box-shadow: 0px 1px 8px 0px #697473;
        background: rgba(255, 255, 255, 0.95);
        border: 2px solid rgba(15, 11, 2, 0.434);
        box-sizing: border-box;
    }
    .postInputContainer{
        width: 100%;
        align-items: center;
    }
    .postAreaContainer{
        width: 100%;
        background-image: url(img/backgroundDoItMobile.png);
        background-size: 100%;
  background-repeat: no-repeat;
    }
    .profilePic{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .profilePicture{
    padding: 1%;
    margin: 1%;
    border-radius: 250px;
    height: 75px;
    width: 75px;
    border: 2px solid rgba(240, 103, 222, 0.797);
box-sizing: border-box;
    }
    .profileName{
        font-family: "Niramit", sans-serif;
        text-align: center;
        font-size: x-small;
        text-size-adjust: auto;
        text-shadow: black 0.02em 0.02em 0.08em;
    }
    .uploadYourPicOrVid{
        margin: 0px;
    }
    .btn-post{
        margin: 2%;
        height: 40%;
        background-color: #8FBFF8;
        border-radius: 5px;
        box-shadow: 0px 1px 1px 0px #ccc;
        border: #8FBFF8;
        padding: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .formPost{ 
        margin-left: 2%;
        width: 100%;
    }
    .uploadPicAndPostButtonContainer{
        display: flex;
        margin: 2%;
    }
    .newPost{
    padding: 5%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    font-family: "Niramit", sans-serif;
    box-shadow: 0px 1px 8px 0px #697473;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    border: 2px solid rgba(245, 194, 95, 1);
    box-sizing: border-box;
    }
   p.userTextPost{
        text-shadow: black 0.02em 0.02em 0.08em;
    }
.formPostEdit{ 
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    padding: 2% 8%;
    background-color: white;
    border: 2px solid rgba(245, 194, 95, 1);
    border-radius: 15px;
    margin-top: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.textPostInputEdit{
    width: 90%;
    padding: 2% 7%;
    margin: 6%;
    height: 100px;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    cursor: text;
    background-color: white;
    border-color: #8FBFF8;
    border-width: 3px;
}
.btnPostEdit{
    font-family: "Niramit", sans-serif;
    font-weight: bold;
    font-size: 100%;
    margin: 2%;
    height: 40%;
    background-color: #8FBFF8;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px #ccc;
    border: #8FBFF8;
    padding: 2% 5%;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}

    .postLikesEditAndDeleteBtn{
        display: flex;
        align-items: center;
    }
    .btn-likePost{
        cursor: pointer;
        font-size:50px;
    }
    .btn-deletePost{
        margin-right: 2%;
        cursor: pointer;
    }
    .btn-editPost{
        margin-right: 1%;
        cursor: pointer;
    }
    .likesNumber{
        margin: 2%;
    }
    .btn-primary{
        margin: 5%;
    }
.divLikesEditDelete{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
     }
.uploadPicDiv{
    display: flex;
    width: 50%;
    justify-content: space-around;
} 
.btnpostAndUploadPic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.fa-camera{
    margin: 0% 0% 2%;
}
.btnPostCancelEdit{
    font-family: "Niramit", sans-serif;
    font-weight: bold;
    font-size: 100%;
    margin: 2%;
    height: 40%;
    background-color: rgba(245, 194, 95, 0.69);
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px #ccc;
    border: rgba(245, 195, 95, 0.863);
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}
.uploadYourPicBtn{
    font-size: small;
    font-family: "Niramit", sans-serif;
    text-shadow: black 0.02em 0.02em 0.08em;
    width: 80%;
    margin: 6% 0% 0%;
}
.numLikes{
    margin-right: 70%;
    padding: 2%;
    font-family: 'Noticia Text';
}
.modal-header{ 
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 1s;
 }
 .suggestionsAndFriendsContainer{
    display: none;
 }
 .suggestionsAndFriendsMobile {
    display: flex;
    padding: 1%;
    margin: 7% 1%;
    width: 60%;
    left: 60%;
    float: right;
    font-size: small;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 1px 8px 0px #697473;
    background: rgba(255, 255, 255, 0.95);
    border: 2px solid rgba(245, 194, 95, 0.69);
    box-sizing: border-box;
    font-family: "Niramit", sans-serif;
    text-shadow: black 0.02em 0.02em 0.08em;
    border-radius: 15px;
 }
 .titleSuggestionsAndFriends{
    text-align: center;
    margin: 0% 0% 3%;
    cursor: pointer;
}
.suggestionsPicture{
    width: 30%;
    cursor: pointer;
}
.nameSuggestions{
    margin-left: 4%;
    cursor: pointer;
}
.suggestions, .friend {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.categorySuggestions{
    margin: 0% 2% 2%;
    cursor: pointer;
}
.categoryFriend{
    margin: 0% 8% 2%;
}
.closeMenuMobileFriends{
    position: relative;
}
.suggestionsDiv{
     margin-left: 10%;
}
.FriendsDiv{
    margin-left: 10%;
}
  @media screen and (min-width: 1024px){

.welcomeMenuMobile{
    display: none;
}

.wallMenu{
    display: flex;
    padding: 1%;
    margin: 1%;
    width: 30%;
    height: 120%;
    font-size: small;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 1px 8px 0px #697473;
    background: rgba(255, 255, 255, 0.95);
    border: 2px solid rgba(245, 194, 95, 0.69);
    box-sizing: border-box;
    font-family: "Niramit", sans-serif;
    text-shadow: black 0.02em 0.02em 0.08em;
    border-radius: 5px;
}
.friendsIcon{
    display: none;
}
.suggestionsPicture{
    width: 30%;
    cursor: pointer;
}
.categorySuggestions{
    margin: 0% 2.5% 8%;
    cursor: pointer;
}
.titleSuggestionsAndFriends{
    text-align: center;
    margin: 0% 0% 3%;
    cursor: pointer;
}
.wallMenuCategoriesCloseDesktop{
    font-family: "Niramit", sans-serif;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: black;
    flex-direction: row;
    padding: 15% 15%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 230%;
}
.nameSuggestions{
    margin-left: 4%;
    cursor: pointer;
}
.suggestions, .friend {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.categoryFriend{
    margin: 0% 6% 8%;
}
.categoriesMenu{
    display: none;
}
.wallMenuCategories{
    font-size: large;
    text-decoration: none;
    color: black;
    flex-direction: row;
    padding: 15% 15%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
} 
.categoriesDesktopFeed{
    display: flex;
    font-family: "Niramit", sans-serif;
    text-shadow: black 0.02em 0.02em 0.08em;
    margin: 2%;
    cursor: pointer;
}
.headerFeedTemplate{
    width: 99%;
    max-height: 25px;
}
.searchInputBar{
    width: 75%;
    height: 5%;
}
.searchProjectsInput{
    width: 80%;
    font-size: 18px;
    padding: 8px;
    margin-right: 2%;
}
.postAreaContainer{
    width: 100%;
    background-image: none;
}
.containerWallFeedTemplate{
    background-image: url(img/backgroundDoIt.png);
    display: flex;
    background-size: cover;
    height: auto;
}
.suggestionsAndFriendsContainer{
    display: flex;
    padding: 1%;
    margin: 1%; 
    width: 30%;
    font-size: small;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 1px 8px 0px #697473;
    background: rgba(255, 255, 255, 0.95);
    border: 2px solid rgba(245, 194, 95, 0.69);
    box-sizing: border-box;
    font-family: "Niramit", sans-serif;
    text-shadow: black 0.02em 0.02em 0.08em;
    border-radius: 5px;
}
.postContainer{
    padding-top: 0%; 
   padding-bottom: 0%;
   padding: 2%;
   border: 4px solid rgba(15, 11, 2, 0.434);
}
.textPostInput{
    width: 90%;
    padding: 2%;
    margin: 2%;
    font-size: 90%;
    height: 20%;
}
.btnpostAndUploadPic{
    width: 98%;
}
.profilePic{
    width: 30%;
}
.profilePicture{
    height: 100px;
    width: 100px;
    margin: 8%;
}
.profileName{
    font-size: medium;
}
.postGrid{
    padding: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.newPost{
    padding: 4%;
    margin: 2%;
    justify-content: space-between;
    border: 3px solid rgba(245, 194, 95, 1);
    text-shadow: black 0.02em 0.02em 0.08em;
   
}
.uploadPicDiv{
    align-items: flex-end;
}

.uploadYourPicBtn{
    font-size: medium;
}
.btn-post{
    font-size: medium;
    cursor: pointer;
}
.postGrid{
    display: grid;
    grid-template-columns: auto auto;
    
}
.formPostEdit{
    margin-top: 10%;
    position: fixed;
    width: 40%;
    margin-left: 20%;
}    
.postLikesEditAndDeleteBtn{
    display: flex;
} 
 }