.html{
    margin: 0px;
    }
.body{
    margin: 0px;
}
.containerFeedTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerFeedTemplate{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    /* Esto no es necesario despues*/
    border-color: black;
    border: solid;
    padding: 2%;
    font-size: 25px;
}
.wallMenu{
        /* Esto no es necesario despues*/
        display: none;
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
        width: 20%;
        height: 680px;
        font-size: small;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
}
.wallMenuCategories{
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10%;
    text-decoration: none;
}
    .categoriesMenu{
        width: 20%;
        height: 100%;
        margin-left: 2%;
    }
    .searchProjectsInput{
        width: 80%;
        font-size: 18px;
        padding: 8px;
        margin-right: 2%;
    }
    .containerWallFeedTemplate{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
    }
    .textPostInput{
        width: 100%;
        padding: 2%;
        margin: 2%;
    
    }
    .inputSubmitPost{
        margin-left: 30%;
    }
    .postContainer{
        display: flex;
        height: 20%;
        width: 100%;
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 2%;
    
    }
    .postInputContainer{
        width: 75%;
    }
    .postAreaContainer{
        width: 60%;
    }
    .profilePic{
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
    }
    .profilePicture{
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
        border-radius: 250px;
    }
    .uploadYourPicOrVid{
        margin: 0px;
    }
    .formPost{ 
        margin-left: 2%;
        width: 100%;
    }
    .uploadPicAndPostButtonContainer{
        display: flex;
        margin: 2%;
    }
    .postGrid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto ;
        height: 90%;
        width: auto;
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 2%;
    }
    .suggestionsAndFriendsContainer{
        display:none;
        height: auto;
        width: 20%;
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 1%;
    }
    .newPost{
        padding: 1%;
        margin: 2%;
    }

@media screen and (min-width: 1024px){
.html{
    margin: 0px;
    }
.body{
    margin: 0px;
}
.containerFeedTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerFeedTemplate{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    /* Esto no es necesario despues*/
    border-color: black;
    border: solid;
    padding: 2%;
    font-size: 25px;
}
.wallMenu{
        /* Esto no es necesario despues*/
        display: flex;
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
        width: 20%;
        height: 680px;
        font-size: small;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
}
.wallMenuCategories{
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 10%;
    text-decoration: none;
}
    .categoriesMenu{
        width: 20%;
        height: 100%;
        margin-left: 2%;
    }
    .searchProjectsInput{
        width: 80%;
        font-size: 18px;
        padding: 8px;
        margin-right: 2%;
    }
    .containerWallFeedTemplate{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
    }
    .textPostInput{
        width: 100%;
        padding: 2%;
        margin: 2%;
    
    }
    .inputSubmitPost{
        margin-left: 30%;
    }
    .postContainer{
        display: flex;
        height: 20%;
        width: auto;
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 2%;
    
    }
    .postInputContainer{
        width: 75%;
    }
    .postAreaContainer{
        width: 60%;
    }
    .profilePic{
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
    }
    .profilePicture{
        border-color: black;
        border: solid;
        padding: 1%;
        margin: 1%;
        border-radius: 250px;
    }
    .uploadYourPicOrVid{
        margin: 0px;
    }
    .formPost{ 
        margin-left: 2%;
        width: 100%;
    }
    .uploadPicAndPostButtonContainer{
        display: flex;
        margin: 2%;
    }
    .postGrid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto ;
        height: 90%;
        width: auto;
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 2%;
    }
    .suggestionsAndFriendsContainer{
        height: auto;
        width: 20%;
        /* Esto no es necesario despues*/
        border-color: black;
        border: solid;
        padding: 2%;
        margin: 1%;
    }
    .newPost{
        padding: 1%;
        margin: 2%;
    }
 }