@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niramit:wght@200&display=swap");

.welcomeMenuDesk{
  display: none;
}
body {
  display: flex;
  margin: 0px;
  flex-direction: column;
}
main {
  background-image: url(img/backgroundDoItMobile.png);
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  align-content: center;
  align-items: center;
}
.menuBars fa fa-bars{
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}
.welcomeMenuMobile{
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.welcomeImagesSection {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  width: auto;
  margin: auto;
  top: 38%;
  left: 8%;
}

.welcomeImg:hover {
  transform: scale(0.97);
}
.welcomeImg {
  border-radius: 15px;
  box-shadow: 0px 1px 8px 0px #697473;
  width: 41%;
  height: 35%;
  transition: 1s;
  cursor: pointer;
  margin: 10px;
}
.welcomeTitle {
  font-family: "Noticia Text", serif;
  text-shadow: black 0.02em 0.02em 0.08em;
  position: absolute;
  top: 23%;
  font-size: 200%;
  color: black;
  font-weight: bold;
  text-align: center;
}
.menuMobile{
  background-color: rgba(0, 0, 0, 0.605);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 1s;
}
.topNavBarMobile {
  border: 5px solid rgba(245, 194, 95, 1);
  border-radius: 15px;
  background-color: white;
  width: 90%;
  height: 70%;
  position: fixed;
  top: 15%;
  left: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
}
a.mobileMenuOption {
  text-decoration: none;
  font-family: "Niramit", sans-serif;
  text-shadow: black 0.02em 0.02em 0.06em;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 130%;
  padding: 3% 10%;
  margin: 5%;
  text-align: center;
}
.loginModal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 1s;
}
#login:target{
  opacity:1;
  pointer-events:auto;
}
.loginForm {
  font-family: "Niramit", sans-serif;
  border: 5px solid rgba(245, 194, 95, 1);
  border-radius: 15px;
  background-color: white;
  width: 90%;
  height: 70%;
  position: fixed;
  top: 15%;
  left: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  float: inline-start;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
}
h1{
  text-shadow: black 0.02em 0.02em 0.06em;
}
.textLoginForm{
  padding-bottom: 6%;
  text-shadow: black 0.02em 0.02em 0.06em;
}
.inputForm{
  padding: 3%;
  margin: 3%;
  width: 70%;
  border-radius: 5px;
}
.loginButton{
  font-family: "Niramit", sans-serif;
  background-color: rgba(210, 134, 162, 1);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-shadow: white 0.02em 0.02em 0.06em;
  text-align: center;
  margin-top: 5%;
  padding: 2%;
  cursor: pointer;
  font-size: 100%;
  width: 30%;
}
.googleLoginButton{
  font-family: "Niramit", sans-serif;
  background-color: rgba(245, 194, 95, 1);
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  text-shadow: black 0.02em 0.02em 0.06em;
  text-align: center;
  margin-bottom: 3%;
  padding: 2%;
  cursor: pointer;
  font-size: 100%;
  width: 50%;
}
a.closeLoginModal {
  text-decoration: none;
  color: rgb(143, 143, 143);
}
.closeLoginModalDiv{
  margin: 2%; 
}
.loginModalRegister{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 1s;
}
.option{
margin:0%;
}
.registerForm{
  font-family: "Niramit", sans-serif;
  text-shadow: black 0.02em 0.02em 0.04em;
  border: 5px solid rgba(245, 194, 95, 1);
  border-radius: 15px;
  background-color: white;
  width: 90%;
  height: 76%;
  position: fixed;
  top: 10%;
  left: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
  padding-bottom: 8%;
}
.h2Register{
  margin-bottom: 3%;
}
.registerTitle{
  font-size: 280%;
  text-shadow: black 0.02em 0.02em 0.06em;
}
.createAccountButton{
  font-family: "Niramit", sans-serif;
  background-color: rgba(210, 134, 162, 1);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-shadow: white 0.02em 0.02em 0.06em;
  text-align: center;
  margin-top: 5%;
  padding: 2%;
  cursor: pointer;
  font-size: 100%;
  width: 30%;
}
.googleRegisterButton{
  font-family: "Niramit", sans-serif;
  background-color: rgba(245, 194, 95, 1);
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  text-shadow: black 0.02em 0.02em 0.06em;
  text-align: center;
  margin-bottom: 3%;
  padding: 2%;
  cursor: pointer;
  font-size: 100%;
}
a.closeRegisterModal {
  text-decoration: none;
  color: #d3d2d2;
}
.closeRegister{
  margin-top: 10%;
}
.aboutUsTitle {
  display: none;
}
.aboutUsTextOne {
  font-family: "Noticia Text", sans-serif;
  text-align: center;
  font-size: 120%;
  color: black;
  text-shadow: black 0.02em 0.02em 0.06em;
  position: absolute;
  width: 80%;
  top: 28%;
  left: 10%;
}
.aboutUsTextTwo {
  font-family: "Noticia Text", sans-serif;
  text-align: center;
  font-size: 140%;
  color: rgba(210, 134, 162, 1);
  font-weight: bold;
  position: absolute;
  top: 70%;
  left: 5%;
}
.footerText {
  font-family: "Niramit", sans-serif;
  font-weight: bold;
}
.doitHash {
  font-family: "Noticia Text", serif;
  color: blue;
  font-weight: bold;
}