@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niramit:wght@200&display=swap");

@media screen and (min-width: 1024px) {
  .welcomeMenuDesk{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
  }
  .topNavBar {
    background-color: white;
    float: right;
    width: 38%;
    font-size: 20px;
    font-family: sans-serif, Geneva, Tahoma;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
  }
  
  .topNavBar a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 3%;
   }
   .welcomeImagesSection {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    top: 38%;
    right: 5%;
  }
  .welcomeImg{ 
    border-radius: 15px;
    box-shadow: 0px 1px 8px 0px #697473;
    width: 90%;
    height: 90%;
    transition: 1s;
    cursor: pointer;
    margin: 5px;
    }
  main{
    background-image: url(img/backgroundDoIt.png);
    height: 90vh;
  }
  .loginForm{
    left: 33%;
    width: 25%;
  }
  
  .registerForm{
    width: 25%;
    height: 48%;
    margin-left: 33%;
  }
  .aboutUsTextOne{
    font-size: 150%;
    width: 70%;
    top: 40%;
    left: 15%;
  }
  .aboutUsTextTwo{
    left: 38%;
    font-size: 180%;
    top: 60%;

  }
   }
  
  .footerText {
    font-family: "Niramit", sans-serif;
    font-weight: bold;
  }
  .doitHash {
    font-family: "Noticia Text", serif;
    color: blue;
    font-weight: bold;
  }